*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}



body{
    width: 100%;
    height: 100vh;
    font-family: "Barlow Condensed", serif;
    font-style: normal;
    background-image: linear-gradient(-90deg, #15151A, #282836, #15151A);
    color: white;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.all_content_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 0 3vh 0;
}
@media screen and (max-width: 768px){
    .all_content_container{ 
        padding: 3vh 3vw;
    }
}



h1{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-family: "Anton", serif;
    font-size: 3.6em;
    font-weight: 500;
    font-style: normal;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #a69cac, #4d4e72, #a69cac);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: moveGradient 6s linear infinite;
}
h1::before{
    content: "SORTING VISUALIZER";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow: 0px 5px 1.1px #282a50, 0px 8px 10px #000000bd;
}
@keyframes moveGradient {
    0% { 
        background-position: 50% 0%; 
    } 
    25% { 
        background-position: 100% 50%;
    }
    50% { 
        background-position: 50% 100%;
    }
    75% { 
        background-position: 0% 50%; 
    }
    100% { 
        background-position: 50% 0%;
    }
}
@media screen and (min-width: 1400px){
    h1{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 3em;
    }
}



#sort_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3vh 5vw;
    margin: 3vh 0;
    border-radius: 50px;
    background-color: #7d7d9125;
    box-shadow: 0 5px 40px  #0000001e;
    font-size: 0.8em;
}



.elem_type_input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom:2px solid #b6b6b627;
}
.elem_type_input input[type=range]{
    accent-color: #8d96c7;
}
label[for="sortTypeDropdown"]{
    margin-left: 40px;
}
#sortTypeDropdown{
    padding: 5px;
    background-color: #383838;
    border: 2.4px solid #a1a8cf;
    color: #a1a8cf;
    font-weight: 500;
    border-radius: 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-play,
.fa-stop{
    width: 15px;
}
#playBtn,
#stopBtn{
    padding: 3px 14px;
    border-radius: 50px;
    border: 2.3px solid #f5ebff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #656b8b;
    color: #f5ebff;
}
#playBtn:hover,
#stopBtn:hover{
    background-color: #8388af;
}
#playBtn:active,
#stopBtn:active{
    background-color: #b0b3ce;
}
#initBtn{
    padding: 5px 16px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
    color: #5a607e;
}
#initBtn:hover{
    background-color: #8388af;
    color: white;
}
#initBtn:active{
    background-color: #585b7a;
}
#sortSpeed{
    padding: 3px;
    background-color: #ffffff;
    color: #5a607e; 
    font-weight: 500;
    border-radius: 20px;
}
#sortSpeed option,
#sortTypeDropdown option{
    background-color: #d9d1ebb4;
    color: #5f6481; 
    font-weight: 500;
    text-align: center;
}
#sortSpeed option{
    color: #666b8b;
}

button,
select{
    font-family: "Barlow Condensed", serif;
    font-style: normal;
    font-size: 1em;
}



#sortStatus{
    display: none;
    width: 30%;
    padding: 8px 0px;
    margin-bottom: 14px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: #6d8a9e15;
}
#sortStatus.stopped{
    display: block;
    border-color: #db3232;
    color: #db3232;
}
#sortStatus.running{
    display: block;
    border-color: #02b602;
    color: #02b602;
}
#sortStatus.done{
    display: block;
    border-color: #65c2ff;
    color: #65c2ff;
}


#barContainer{
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.bar{
    margin: 0 2px;
    background-color: #f5efff;
    display: inline-block;
    flex: 1;
}

.bar.compare,
#compareLegend{
    background-color: blue;
}
.bar.move,
#moveLegend{
    background-color: red;
}
.bar.swap,
#swapLegend{
    background-color: purple;
}
.bar.merge,
#mergeLegend{
    background-color: green;
}
.bar.pivot,
#pivotLegend{
    background-color: gold;
}
.bar.minIndex,
#minIndexLegend{
    background-color: orange;
}

.legends{
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.legends h5{
    text-transform: uppercase;
    font-weight: 700;
}

#legendContainer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 25px;
}
#legendContainer li{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.legend{
    width: 20px;
    height: 20px;
    border-radius: 35%;
}
